---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Antoine CELLE</h1>
			<p>
				<a href="https://github.com/antoinece">My Github</a>.
			</p>
			<pre>
			test
			test
			test
			test
			test
			test
			test
			test
			</pre>
		</main>
		<Footer />
	</body>
</html>
